<h2>Sign in here</h2>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-horizontal' }) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :required => true %>
    <%= f.input :password %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign in" %>
  </div>
<% end %>


  <a class="btn-auth btn-github large" a href="/users/auth/github"> Sign in with <b>github</b>
  </a>
  <a class="btn-auth btn-google_oauth2 large" a href="/users/auth/google_oauth2"> Sign in with <b>gmail</b>
  </a>


