<legend> Collaborators </legend>
<% @feature.collaborators.each do |c| %>
	<ul>
		<span id="collaborator-tag"><b>
			<%=link_to c.username%> <%= link_to glyph(:remove),remove_collaborator_path(:temp_collaborator => c.username), class: 'remove_icon' %> 
		</b> </span> </ul>
		<br>
<% end %>
			

<%= simple_form_for(@feature, :url => add_collaborator_path, :html => { :class => "form-vertical"}) do |f| %>
	 <%= f.input :temp_collaborator, :wrapper => :prepend, :label => false, :hint => "email or github username" do %>
    <%= content_tag :span, "@", :class => "add-on" %>
    <%= f.input_field :temp_collaborator %>
  <% end %>
  <br>
	<%= f.button :submit, :value => 'Add Collaborator' %>
	<% end %>
