<div class="feature" draggable="true">
  <% if feature.company %>
    @<%=feature.company %>
    <% end %>
  <div id="title" display="inline-block">
	<%=link_to feature.user.name, user_path(feature.user) %> shipped <%= link_to feature.title, feature %>
	</div>
  <div id="details">
    <%= feature.subtitle %> 
  </div>
    <% feature.tag_list.each do |f|%>
    <div class="label label-info"> <%=link_to f, features_path(query: f), id: 'nolink' %> </div> 
    <% end %>
</div>



<!-- <h4 class="title">  </h4>
<p>
	<ul class="unstyled">
<li> @ <%= feature.company %> </li>
<li> description: <%= feature.description %> </li>
<li> built with: <%= feature.tag_list %> 		 </li>
<span>

  <% unless feature.collaborators.nil? %>
   <%= feature.collaborators.map(&:username).join(', ') %>
  <% end %>
</span>
<br>
</p> -->