
<!-- feature list box -->
<%= link_to edit_feature_path(feature) do %>
<div class="feature-list-item" draggable="true">
<!-- feature title -->
  <div id="title" display="inline-block">
	  <%= link_to feature.title, edit_feature_path(feature) %>
    <% feature.tag_list.each do |f|%>
      <div class="label label-info"> <%=link_to f, features_path(query: f), id: 'nolink' %> 
      </div> 
    <% end %>
  </div>

<!-- feature text -->
  <div class="feature-list-text">
    <%= ActionController::Base.helpers.strip_tags(feature.text)[0...40] +'...'%>
  </div>
  <div id="details">
    <%= feature.subtitle %> 
  </div>
</div>
<% end %>


<!-- <h4 class="title">  </h4>
<p>
	<ul class="unstyled">
<li> @ <%= feature.company %> </li>
<li> description: <%= feature.description %> </li>
<li> built with: <%= feature.tag_list %> 		 </li>
<span>

  <% unless feature.collaborators.nil? %>
   <%= feature.collaborators.map(&:username).join(', ') %>
  <% end %>
</span>
<br>
</p> -->