<%= simple_form_for(@feature, html: {multipart: true, class: 'feature_edit'}, remote: true) do |f| %>
  <%= f.input :title, input_html: {class: "span8"}, placeholder: "add your title", label: false, as: :text%>
  <%= f.input :tag_list, input_html: {class: "span8"}, placeholder: "tags, i.e python, machine learning", label: false, as: :text%>
  <%= f.input :text, as: :hidden%>
  <% end %>
  <hr>
  <div class="feature_body editable" id="editor"> 
    <% unless @feature.text.nil? %>
    <%= @feature.text.html_safe %>
    <% end %>
  </div>
