<div class="well">
	<div class="wysihtml5-toolbar"> </div>
<%= simple_form_for(@feature) do |f| %>
	<%= f.input :title%>
	<%= f.input :company %>
	<%= f.input :text %>
	<%= f.input :tag_list, label: 'using', placeholder: "e.g. rails 3, bootstrap, httparty" %>
	<%= f.button :submit  %>
	<% end %>
</div>