<div class="container">
<!-- publish button -->
  <%= button_to "Publish", feature_path(@feature), class: "editbar btn btn-success", method: "get" %>
  <%= button_to "Delete", @feature, method: :delete %>
  <div class="status"></div>
  <div class="row">
    <div class="span8 offset2 title_photo">
      <%= image_tag(@photo.image_url(:large), class: 'image') if @photo.image? %>
      <%= button_to 'X', @photo, :method => :delete, :class => 'btn btn-mini btn-danger' if @photo.image?%>
      <%= image_tag "camera.png", class: 'add_photo', size: '50x50' unless @photo.image? %>
      <%= simple_form_for(@feature, html: {multipart: true, class: 'photo_form'}) do |f| %>
        <%= f.simple_fields_for :title_photo do |p| %>
          <%= p.file_field :image, class: 'photo', as: :hidden%>
          <%= p.hidden_field :primary, value: 'true' %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="row" id="feature-row">
    <div class="span8 offset2">
      <div class="feature-inner" data-id="<%= @feature.id %>">
      <!-- feature editor -->
        <%= render partial: 'feature-editor' %>
      </div>
    </div> 
    <!-- collaborators column -->
    <div class="span2">
      <div class="collaborators">
        <legend align="center">@<%=@feature.company %> </legend>
        <%= render partial: 'features/collaborator', collection: @collaborators, as: :user, :locals => {:show => (false)} %>
      </div>
      <%= render 'add_member' %>
    </div>
  </div>
</div>

