<div class="container">
<!-- publish button -->
  <%= button_to "Publish", feature_path(@feature), class: "editbar btn btn-success", method: "get" %>
  <div class="status"></div>
  <%= image_tag @photo.image_url(), class: "title-photo" if @photo.image? %>
  <div class="row" id="feature-row">
    <div class="span8 offset1">
      <div class="feature-inner">
      <!-- feature editor -->
      <%= simple_form_for @photo, url: add_image_path, html: {multipart: true} do |f| %>
        <%= f.file_field :image %>
        <%= f.button :submit, class: "btn-success" %>
        <% end %>
        <%= render partial: 'feature-editor' %>
      </div>
    </div> 
    <!-- collaborators column -->
    <div class="span2 offset1">
      <div class="collaborators">
        <legend align="center">Team</legend>
        <%= render partial: 'features/collaborator', collection: @collaborators, as: :user, :locals => {:show => (false)} %>
        <hr>
        <% if user_owner %>
        <div class="add_member" align="center">Add Member</div>
          <%= simple_form_for(@feature, :url => add_collaborator_path, :html => { :class => "form-vertical" }) do |f| %>
            <%= f.input_field :temp_collaborator, :label => false, :placeholder => "email or github username", :input_html => { :size => 40}%>
            <%= f.input_field :temp_role, :label => false, :placeholder => "role", :input_html => { :size => 40}%>
            <%= f.button :submit, class: "btn-success", :value => 'Add'%>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

