<h1>Features</h1>

	<% @features.each do |feature| %>
 		<h4><%= link_to feature.title, feature %></h4>
 		<h5>url: <%= feature.url %></h5>
 			posted by: @<%=feature.user.username %>
 	
	</ul>
	<p>
		description: <%= feature.description %>
		<br>
		built with: <%= feature.tag_list %>
		<br>
  	built by: <%= %>
  	<br>
  	learned: <%= feature.text %>
  </p>
  <hr>
<% end %>
<p><%= link_to "Add Feature", new_feature_path %></p>
