
<div id="feature-browser" class="row">
	<div class="span6">
		<h3>Features</h3>
		<div id="feature-list">
			
			<% @features.each do |feature| %>
				<div id="feature">
 				<h4 class="title">
 					<%= link_to feature.title, feature%>
 				</h4>
 				<h5>url: <%= feature.url %></h5>
 				<span>by <%=feature.user.username %>
 				</span>
				<p>
				description: <%= feature.description %>
				<br>
				built with: <%= feature.tag_list %>
				<br>
				
  			by <%= feature.collaborators%>
  		</span>
  			<br>
  			built by: <%= feature.collaborators%>
  			<br>
  			learned: <%= feature.text %>
  </p>
  </div>
<% end %>
		
		</div>
	</div> 
	
	<div class="span6">
		<div id="unpublished">
			<h3>Add Feature</h3>
			<div id="feature-add">
				<%= render 'form' if user_signed_in?  %>
			</div>
		</div>
	</div>
	
</div>


