
<!--   <ul class="nav nav-pills">
    <li class="active"><a href="/">My Feed</a></li>
    <li><%= link_to 'My Profile', @user %> </li>
    <li><%= link_to 'Staff Picks', @user %> </li>
  </ul> -->
  <div id="feature-browser" class="row">
    <div class="span4">
      <div class="feature-list">
      <% if @filters %>
        <legend> Filters: 
          <% @filters.each do |f| %>
            <span class="label label-info" id="nolink"> <%= f%> </span>
          <% end %>
        </legend> 
      <% else %>
      <legend> </legend>
      <% end %>
        <%= render @features.reverse %>
      </div>
    </div> 
    
<!-- notepad space -->
    <div class="span7">
      <div class="new_feature_btn">
        <%= button_to "New Feature", new_feature_path(), class: "btn btn-success", method: "get"  if user_signed_in? %>
      </div>
    </div>
  </div>