<div class="container">
  <div class="status"></div>
  <br>
    <div class="row">
    <div class="span8 offset2 photos">
      <%= image_tag "camera.png", class: 'add_photo'%>
      <%= simple_form_for @feature, html: {multipart: true, class: 'photo_form'} do |f| %>
        <%= f.simple_fields_for :photos do |p| %>
        <%= p.file_field :image, class: 'photo', as: :hidden%>
        <% end %>
        <% end %>
    </div>
  </div>
  <div class="row" id="feature-row">
    <div class="span8 offset2">
      <div class="feature-inner">
        <%= simple_form_for(@feature) do |f| %>
          <%= f.input :title, input_html: {class: "span8"}, placeholder: "add your title", label: false, as: :text, autofocus: true%>
          <%= f.simple_fields_for :values do |d| %>
          <%= d.input_field :persona, label: false, placeholder: "Persona"%>
          <%= d.input_field :change, collection: [ "increase", "decrease"], default: "increases"%>
          <%= d.input_field :metric, label: false, placeholder: "metric"%>
          <%= d.input_field :quantity, label: false, placeholder: "by amount"%>
          <% end %>
          <%= f.simple_fields_for :images do |i| %>
          <%= i.file_field :image %>
          <% end %>
          <%= f.input :tag_list, input_html: {class: "span8"}, placeholder: "tags, i.e python, machine learning", label: false, as: :text%>
          <%= f.input :text, as: :hidden%>
        <% end %>
        <div class="feature_body editable" id="editor" data-placeholder="Tell us about your feature">
        </div>
      </div>
    </div>
  </div>
</div>
