<div class="container">
<%= button_to "edit", edit_feature_path(@feature), class: "editbar btn btn-success", method: "get"  if user_owner%>
  <div class="row" id="feature-row">
    <div class="span8 offset1">
      <div class="feature-inner">
    	  <div id="show_feature_title">
          <%= @feature.title %>
        </div>
        <div id="show_feature_subtitle">
          <%= @feature.subtitle %>
        </div>
    	  <div class="show_feature" id="feature_tag_list">
         <%= @feature.tag_list %>
        </div>
        <div class="feature_body">
    	    <%= @feature.text.html_safe %>
        </div>
      </div>
    </div>
    <div class="span2 offset1">
      <div class="collaborators">
        <legend align="center">Team</legend>
        <%= render partial: 'users/user', collection: @collaborators, :locals => {:show => (true)} %>
      </div>
    </div>
  </div>
</div>

