<!DOCTYPE html>
<html lang="en">
  <head>
        <%= render "layouts/responsive" %>
        <%= javascript_include_tag "application" %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <%= bootstrap_flash %>
      <%= yield %> 
    </div>
  </body>
    <script> $(document).ready(function(){
      $("#feature_title, #feature_subtitle, #feature_tag_list, #feature_text").autosize();
      });
     </script>
     
   <script>var highlighteditor = new MediumEditor('.editable', {
      diffLeft: 75});
     </script>


     <script> 
     var editor = new Medium({
      element: document.getElementById('editor'), 
      mode: 'inline',
      placeholder: 'write about your shipped feature'
     });
     </script>

     <script type="text/javascript"> 
     $('#editor').blur(function(){
      var content = $('#editor').html();
      $("input[id=feature_text]").val(content);
      });
     </script>
</html>
